body {
    -ms-overflow-style: scrollbar; 
    margin: 0;
    border: 0;  
  }
  
  html {
    box-sizing: border-box; }
  
  *, *:before, *:after {
    box-sizing: inherit; }
  
  body {
    background: #ffffff; }
  
  body{
    color: #7f888f;
    font-family: "Open Sans", sans-serif;
    font-size: 14pt;
    font-weight: 400;
    line-height: 1.65; }
  
  strong{
    color: #3d4449;
    font-weight: 600; }
  
  h1, h2{
    color: #3d4449;
    font-family: "Arial", serif;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 1em 0; 
    font-size: 4em;
    margin: 0 0 0.5em 0;
    line-height: 1.3; }
    
    h1 a, h2 a{
      color: inherit;
      text-decoration: none;
      border-bottom: 0; }
  
  
  h2 {
    font-size: 1.75em; }
  
  hr {
    border: 0;
    border-bottom: solid 1px rgba(210, 215, 217, 0.75);
    margin: 2em 0; }
    hr.major {
      margin: 3em 0; }
  
  header p {
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.075em;
    padding: 0;
    margin-top: -0.5em;
    text-transform: uppercase; }
  
  ul.contact {
    margin-left: 0;
    list-style: none;
    padding: 0; }
    ul.contact li {
      text-decoration: none;
      border-top: solid 1px rgba(210, 215, 217, 0.75);
      margin: 1.5em 0 0 0;
      margin-left: 0;
      padding: 1.5em 0 0 3em;
      padding-left: 0;
       color: inherit; }
  
  #wrapper {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row-reverse;
  }
  
    #main > .inner {
      padding: 0 6em 0.1em 6em ;
      margin: 0 auto;
      max-width: 110em; }
      #main > .inner > section {
        padding: 6em 0 4em 0 ;}
  
  #sidebar {
    background-color: #f5f6f7;
    font-size: 0.9em;
    position: relative;
    width: 26em; }
    #sidebar > .inner {
      padding: 2em 2em 2em 2em ;
      position: relative;
      width: 26em; }
  
  #header {
    border-bottom: solid 5px #f56a6a;
    position: relative; }
    #header {
      -moz-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin-bottom: 0; }
  
  #menu ul {
    color: #3d4449;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    margin-bottom: 0;
    padding: 0;
    text-transform: uppercase; }
    #menu ul a, #menu ul span {
      border-bottom: 0;
      color: inherit;
      cursor: pointer;
      display: block;
      font-size: 0.9em;
      padding: 0.625em 0; }
      #menu ul a:hover, #menu ul span:hover {
        color: #f56a6a; }
        
  #menu > ul > li {
    border-top: solid 1px rgba(210, 215, 217, 0.75);
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0; }
    #menu > ul > li > ul {
      color: #9fa3a6;
      display: none;
      margin: 0.5em 0 1.5em 0;
      padding-left: 1em; }
      #menu > ul > li > ul a, #menu > ul > li > ul span {
        font-size: 0.8em; }
      #menu > ul > li > ul > li {
        margin: 0.125em 0 0 0;
        padding: 0.125em 0 0 0; }
    #menu > ul > li:first-child {
      border-top: 0;
      margin-top: 0;
      padding-top: 0; }
  
  .doe {
        background-color: #45a049;
        color: white;
        padding: 10px 20px;
        font-size: 17px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        height: 110%;
        display: flex;
        width: 60%;
        outline: none;
        text-decoration: none;
    }
  
    .doe:hover {
        background-color: #d64911;
    }
  
  footer {
      background-color: #333;
      color: #fff;
      padding: 1rem;
      text-align: center;
  }
  
  .imagem-reduzida {
    width: 17%;
    display: flex;
  }
  
  .fotodoar {
    width: 80%;
    border-radius: 90%;
    padding-left: 0;
  }
  
  .contratar{
    width: 30%;
    position: relative;
  }
  
  .telefone{
    width: 12%;
  }
  
  .major{
    display: flex;
    align-items: center;
  }
  
  .major .h2{
    margin-top: 10px;
  }

  header{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button:hover {
    background-color: #2980b9;
  }

  .esconder {
    display: none;
    background-color: #45a049;
    color: white;
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    height: 110%;
    display: flex;
    width: 50%;
    outline: none;
    text-decoration: none;
  }
  
  input:required:invalid + .esconder,
  select:required:invalid + .esconder {
    display: none;
  }
  
  input:required:valid + .esconder,
  select:required:valid + .esconder {
    display: block;
  }

  .instagram{
    text-decoration: none;
  }

  .instagra{
    width: 10%;
    vertical-align: middle;
  }

  .CONTATO{
    margin: 0;
  }